.container {
	padding: 12px 20px;
	border-radius: 7px;
	background: $widgets-color;
	border: 1px solid rgba($text-color, .1);
	color: $text-color;
	font-weight: 500;

	ul {
		flex-wrap: wrap;
		gap: 7px 5px;
	}
}