.form {
   background: $widgets-color;
   padding: 15px;
   max-width: 600px;
   border-radius: 5px;
   border: 1px solid rgba($text-color, .1);
   gap: 20px 0;
   font-family: $font;
   font-weight: 500;
   .btn {
      color: $text-color;
      width: 50%;
      padding: 10px 0;
      font-size: 16px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, .15);
   }

   .btn:hover {
      background-color: rgba(255, 255, 255, .1);
      transition: all .3s ease;
   }

   .active {
      color: $text-color;
      width: 50%;
      font-size: 16px;
      padding: 10px 0;
      border-radius: 5px;
      background: linear-gradient(
         50deg,
         rgb(228, 129, 0) 27%,
         rgb(191, 0, 220) 100%
      );
      animation: selected 0.5s ease;
   }

   @keyframes selected {
      0% {
         transform: translateY(5px);
      }
      50% {
         transform: translateY(-5px);
      }
      100% {
         transform: translateY(0);
      }
   }
}
