.container {
	overflow-x: auto;
	&::-webkit-scrollbar {
		background: transparent;
	}
	span {
		display: flex;
		flex-wrap: nowrap;
		gap: 0 10px;
	}
	.addColumn {
		font-family: $font;
		gap: 0 3px;
		height: fit-content;
		background-color: rgba($text-color, .1);
		width: 20%;
		padding: 10px 5px;
		border-radius: 5px;
		border: 1px solid rgba($text-color, .2);
		transition: border .45s ease, background-color .3s linear;
	}
	.addColumn:hover {
		border: 1px solid #353535;
		background-color: #262626;
		transition: all .3s linear;
	}
}