.container {
	width: 25%;
	height: fit-content;
	padding: 5px;
	border-radius: 5px;
	background-color: #1f1f1f;
	border: 1px solid rgba($text-color, .1);
	font-family: $font;

	.input {
		margin-right: 5px;
	}

	.title {
		font-weight: 500;
		font-size: 1.1em;
	}

	.tasks {
		max-height: 400px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(73, 73, 73);
			border-radius: 15px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	}

	.add {
		padding: 6.5px;
		margin-top: 5px;
		font-weight: 500;
	}
}