form {
	gap: 20px 0;
	.fields {
		gap: 15px 0;
		span {
			display: inline-block;
			margin-top: 5px;
			color: red;
		}
	}
	
	.google {
		padding: 7px;
		background-color: $text-color;
		border-radius: 5px;
	}
}