.container {
	font-weight: 500;
	margin: 6px 7px 0 0;
	padding: 8px;
	background: $widgets-color;
	border-radius: 6px;
	border: 1px solid rgba($text-color, .2);
	transition: border .25s ease;

	.main {
		gap: 5px 0;
		.image {
			border-radius: 3px;
		}

		.title {
			font-size: 13px;
			word-break: break-all;
		}
	}

	.info {
		margin-top: 3px;
		font-size: 11px;

		p, div {
			padding: 3px;
			border-radius: 4px;
		}
	}

	&:hover {
		border: 1px solid rgba($text-color, .4);
		transition: border .25s ease;
	}
}