.container {
	margin-top: 15px;
	font-family: $font;
	font-weight: 500;

	.header {
		background-color: $widgets-color;
		padding: 15px 10px;
		color: rgba($text-color, .6);
		border: 1px solid rgba($text-color, .1);
		border-radius: 7px;
	}

	.content {
		margin-top: 5px;
		background-color: $widgets-color;
		color: $text-color;
		padding: 15px 10px;
		font-size: 1.2em;
		word-break: break-all;
		line-height: 25px;
		border-radius: 7px 7px 0 0;
		border: 1px solid rgba($text-color, .1);
		textarea {
			font-weight: 500;
		}

		@media (max-width: 420px) {
			font-size: 13px;
			line-height: 16px;
		}
	}

	.footer {
		background-color: $widgets-color;
		padding: 10px;
		color: rgba($text-color, .8);
		border: 1px solid rgba($text-color, .1);
		border-top: none;
		border-radius: 0 0 7px 7px;
	}
}