.container {
   height: 100%;
   gap: 15px 0;
   font-family: $font;
   .mainInfo {
      gap: 0 15px;

      .skeleton {
         width: 220px;
      }

      @media (max-width: 800px) {
         flex-direction: column;
         gap: 15px 0;

         .skeleton {
            width: 100%;
         }
      }
   }
}
