.container {
	flex: 1;
	font-size: 1.12em;
	font-weight: 500;
	color: $text-color;

	.info {
		padding: 10px 10px 0 0;
		width: 80%;
		color: $text-color;
		border-top: 1px solid rgba($text-color, .3);
	
		.image {
			.preview {
				border-radius: 3px;
			}
		}
		p {
			margin-top: 5px;
		}
	}
}