.form {
	gap: 12.5px 0;
	padding: 20px;
	background: $widgets-color;
	border: 1px solid rgba($text-color, .1);
	border-radius: 7px;
	div {
		.icon {
			background-color: rgba($text-color, .08);
			padding: 7px;
			border-radius: 7px;
		}
		h2 {
			color: $text-color;
			font-weight: 500;
			font-size: 1.3em;

			@media (max-width: 355px) {
				font-size: 1em;
			}
		}
	}
	label {
		text-transform: capitalize;
		color: $text-color;
		font-weight: 500;
		gap: 7px 0;
		span {
			text-transform: none;
		}
	}
}