.cw {
   color: white;
}

.cp {
   cursor: pointer;
}

.df {
   display: flex;
}

.jcc {
   justify-content: center;
}

.aic {
   align-items: center;
}

.jcsb {
   justify-content: space-between;
}

.jcfe {
   justify-content: flex-end;
}

.fdc {
   flex-direction: column;
}

.w100 {
   width: 100%;
}

.tac {
   text-align: center;
}

.gr10 {
   gap: 0 10px;
}

.hov:hover {
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.15);
   transition: all 0.45s ease;
}
