* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

*,
*::before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   line-height: 1;
   font-size: 14px;
   overflow-x: hidden;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

button {
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   color: currentColor;
   background: none;
   border: none;
   cursor: pointer;
}

input,
select {
   background: none;
   border: none;
   outline: none;
}

body {
   background-color: $body-color;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

   &::-webkit-scrollbar {
      width: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #ff9000;
      border-radius: 15px;
   }

   &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
      padding: 5px;
   }
}

#root {
   height: 100vh;
}