.container {
   position: relative;
   gap: 4px 0;
   padding: 20px;
   background: $widgets-color;
   width: 20%;
   color: $text-color;
   font-weight: 500;
   border-radius: 7px;
   border: 1px solid rgba($text-color, 0.1);
   .edit {
      position: absolute;
      top: 10px;
      right: 10px;
   }
   img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      transition: border-radius 0.45s ease;
   }
   img:hover {
      border-radius: 5px;
      transition: border-radius 0.45s ease;
   }
   h1 {
      text-align: center;
      line-height: 1.3em;
      font-size: 1.4em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
   p {
      text-align: center;
      line-height: 1.2em;
      font-size: 13px;
      color: rgba($text-color, 0.4);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   @media (max-width: 800px) {
      width: 100%;
   }
}
