.container {
   background-color: $widgets-color;
   padding: 13px;
   display: flex;
   min-width: 18%;
   flex-direction: column;
   border-right: 1px solid rgb(44, 44, 44);
   font-family: $font;
   nav {
      height: 100%;
      ul {
         font-size: 1.3em;
         font-weight: 500;
         .active {
            color: $text-color;
            padding: 5px;
            gap: 0 3px;
            animation: active 0.6s linear;
            border-right: 2px solid rgb(201, 201, 201);
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.1);
         }
         .default {
            color: $text-color;
            gap: 0 3px;
            padding: 5px;
         }
         li {
            margin-top: 8px;
         }
         @keyframes active {
            0% {
               width: 0;
               opacity: 0%;
            }
            100% {
               width: 100%;
               opacity: 100%;
            }
         }
      }
   }

   @media (max-width: 915px) {
      display: none;
   }
}
