.container {
	background-color: $widgets-color;
	border: 1px solid rgba($text-color, .1);
	border-radius: 7px;
	font-family: $font;
	padding: 10px;
	color: $text-color;
	.user {
		margin-top: 10px;
		img {
			border-radius: 50%;
		}
		.main {
			h1 {
				font-size: 1.5em;
				font-weight: 500;
			}
			p {
				word-break: break-all;
				font-size: 1.2em;
				font-weight: 500;
				margin-top: 10px;
				line-height: 20px;
			}
		}
		.more {
			gap: 0 4px;
			margin-top: 7px;
		}

		@media (max-width: 500px) {
			flex-direction: column;
			gap: 5px 0;

			.main {
				width: 100%;
				p {
					font-size: 1em;
				}

				h1 {
					font-size: 1.2em;
				}
			}
		}
	}
}