.container {
	text-transform: capitalize;
	sup {
		color: #ff9000;
	}
	input {
		margin-top: 5px;
	}
	span {
		margin-top: 5px;
		display: inline-block;
		color: red;
		font-size: 14px;
		text-transform: none;
	}
}