.container {
   gap: 15px 0;
   font-family: $font;
   font-size: 15px;
   font-weight: 500;
   color: $text-color;
   sup {
      color: #ff8800;
      font-size: 16px;
   }
   .main {
      .upload {
         text-align: center;
         padding: 10px;
         border-radius: 7px;
         border: 1px solid rgba($text-color, 0.1);
         transition: all 0.25s ease;
         img {
            max-width: 200px;
            max-height: 250px;
         }
         .text {
            margin-top: 7px;
            text-align: center;
         }
         &:hover {
            border-color: $text-color;
            opacity: 80%;
            transition: all 0.25s ease;
         }
      }
      .fields {
         width: 100%;
         .description {
            margin-top: 10px;
            gap: 5px 0;
            span {
               font-weight: 500;
               color: red;
               font-size: 14px;
            }
            textarea {
               height: 100%;
            }
         }
      }

      @media (max-width: 480px) {
         flex-direction: column;
         gap: 10px 0;
      }
   }
   .datepicker {
      gap: 5px 0;
      span {
         font-weight: 500;
         color: red;
         font-size: 14px;
      }
   }
   .radios {
      max-width: fit-content;
      margin-top: 5px;
      text-transform: capitalize;
   }
   .submitBtn:hover {
      opacity: 90%;
      transition: opacity 0.2s ease;
   }
}
