.id {
	font-weight: 500;
	color: $text-color;
}

.avatar {
	border-radius: 50%;
}

.cell {
	margin-top: 10px;
	border-top: 1px solid rgba($text-color, .15);
	color: $text-color;
	font-weight: 500;
	font-size: 1.1em;

	.desc {
		word-break: break-all;
		margin-top: 5px;
	}

	.birthday {
		margin-top: 5px;
		gap: 0 6px;
	}
}

@media (max-width: 320px) {
	.id {
		font-size: 13px;
	}

	.cell {
		font-size: 1em;
	}
}