.container {
	padding: 7px;
	border-radius: 7px;
	background-color: $widgets-color;
	color: $text-color;
	border: 1px solid rgba($text-color, .1);
	font-size: 1.12em;
	font-weight: 500;
	word-break: break-all;
	h2 {
		color: rgba($text-color, .8);
		font-weight: 500;
		font-size: 1.2em;
	}
	button {
		padding: 5px;
	}

	@media (max-width: 420px) {
		font-size: 13px;
		line-height: 15px;
	}
}