.container {
	padding: 5px 10px;
	border: 1px solid rgba($text-color, .3);
	border-right: none;
	border-bottom: none;
	width: 20%;

	li {
		display: flex;
		align-items: center;
		gap: 0 4px;
		cursor: pointer;
		margin-top: 5px;
		padding: 2px 5px;
		transition: all .25s;
	}
}