.container {
   height: 100%;
   display: flex;
   flex-direction: column;
   .content {
      height: 100%;
      margin-top: 10px;
      font-family: $font;
      .title {
         gap: 0 6px;
         color: $text-color;
         font-weight: 500;
         font-size: 1.4em;
      }
      .items {
         gap: 5px 0;
         margin-top: 5px;
      }
   }
}
