.logo {
   max-width: fit-content;
   padding: 3.5px 5px;
   gap: 0 7px;
   img {
      max-width: 35px;
      max-height: 35px;
   }
   h2 {
      font-family: $font;
      font-weight: 600;
      color: $text-color;
      font-size: 1.6em;
      span {
         color: #ff9900;
      }
   }
}
