.container {
   height: 100%;
   font-size: 1.3em;
   font-weight: 500;
   color: $text-color;
   padding: 20px;
   background-color: $widgets-color;
   border-radius: 7px;
   border: 1px solid rgba($text-color, 0.1);
   h2 {
      font-weight: 500;
   }
   textarea {
      resize: none;
      margin-top: 7px;
      max-height: 100%;
   }
   p {
      margin-top: 7px;
      color: rgba($text-color, 0.75);
      line-height: 1.15em;
      word-break: break-all;

      @media (max-width: 355px) {
         font-size: 15px;
      }
   }
}
