.container {
	background-color: $widgets-color;
	padding: 5px 12px;
	border-bottom: 1px solid rgb(44, 44, 44);

	.menu {
		display: none;
		height: fit-content;
		border: 1px solid rgba($text-color, .25);
		border-radius: 6px;
		padding: 2px;

		@media (max-width: 915px) {
			display: flex;
			align-items: center;
		}
	}
}