.container {
   background-color: $widgets-color;
   overflow-y: auto;
   max-height: 400px;
   padding: 0 10px 10px 10px;
   border: 1px solid rgba($text-color, 0.1);
   border-radius: 6px;

   .item {
      border: 1px solid rgba($text-color, 0.1);
      border-left: none;
      border-right: none;
      padding: 7px;
      font-weight: 500;
      margin-top: 10px;

      img {
         border-radius: 50%;
      }

      @media (max-width: 300px) {
         p {
            font-size: 0.8em;
         }
      }
   }

   .me {
      border: 1px solid #ff9900;
      border-radius: 6px;
   }

   &::-webkit-scrollbar {
      width: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #ff9000;
      border-radius: 15px;
   }

   &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
      padding: 5px;
   }
}
